<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="like">

	<insert id="likeInsert" parameterType="likeDto">
		INSERT INTO REIVEWLIKE
		VALUES(REIVEWLIKESEQ.NEXTVAL, #{reviewseq}, #{userseq})
	</insert>
	
	<delete id="likeDel" parameterType="likeDto">
		DELETE FROM REIVEWLIKE
		WHERE REIVEWSEQ = #{reviewseq} AND USERSEQ = #{userseq}
	</delete>
	
	<update id="likeUpdate" parameterType="likeDto">
		UPDATE REVIEW
		SET
		LIKECOUNT = (SELECT COUNT(*)
		FROM REIVEWLIKE
		WHERE REIVEWSEQ = #{reviewseq})
		WHERE REIVEWSEQ = #{reviewseq}
	</update>
	
	<select id="likeCnt" resultType="int">
		SELECT COUNT(LIKESEQ)
		FROM REIVEWLIKE
		WHERE REIVEWSEQ = #{reviewseq} AND USERSEQ = #{userseq}
	</select>

</mapper>
