<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="makecoupon">

	<select id="selectList" resultType="makeCouponDto">
		SELECT MAKESEQ,COUPONTITLE,DISCOUNT,USERSEQ,ENDDAY
		FROM MAKECOUPON
		ORDER BY MAKESEQ DESC
	</select>
	
	<select id="selectOne" resultType="makeCouponDto">
		SELECT MAKESEQ,COUPONTITLE,DISCOUNT,USERSEQ,ENDDAY
		FROM MAKECOUPON 
		WHERE MAKESEQ = #{makeseq}
	</select>
	
	
	<insert id="insert" parameterType="makeCouponDto">
		INSERT INTO MAKECOUPON
		VALUES(MAKESEQ.NEXTVAL,#{coupontitle},#{discount},#{userseq},#{endday})
	</insert>
	
	<update id="update" parameterType="makeCouponDto">
		UPDATE MAKECOUPON
		SET COUPONTITLE = #{coupontitle},DISCOUNT = #{discount}
		WHERE MAKESEQ = #{makeseq}
	</update>
	
	<delete id="delete" parameterType="makeCouponDto">
		DELETE FROM MAKECOUPON
		WHERE MAKESEQ = #{makeseq}
	</delete>








</mapper>
