<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">

	<select id="selectList" resultType="noticeDto">
		<![CDATA[
		SELECT B.RN, B.BOARDSEQ,B.BOARDKIND, B.BOARDNAME, B.BOARDTITLE, B.BOARDCONTENT, B.USERSEQ, B.BOARDDATE
		FROM (SELECT
		ROWNUM AS RN, A.BOARDSEQ,A.BOARDKIND, A.BOARDNAME, A.BOARDTITLE, A.BOARDCONTENT, A.USERSEQ, A.BOARDDATE
		FROM (
		SELECT BOARDSEQ, BOARDKIND, BOARDNAME, BOARDTITLE, BOARDCONTENT, USERSEQ, BOARDDATE FROM NOTICEBOARD
		ORDER BY BOARDSEQ DESC ) A
		WHERE ROWNUM <= #{pageNum} * #{amount}) B
		WHERE RN > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="totalCnt" resultType="int">
		SELECT COUNT(*)
		FROM NOTICEBOARD
	</select>
	
	<select id="selectOne" resultType="noticeDto" parameterType="int">
		SELECT BOARDSEQ, BOARDKIND, BOARDNAME, BOARDTITLE, BOARDCONTENT, USERSEQ, BOARDDATE
		FROM NOTICEBOARD
		WHERE BOARDSEQ = #{BOARDSEQ}
	</select>
	
	<insert id="insert" parameterType="noticeDto">
		INSERT INTO NOTICEBOARD
		VALUES(NOTICESEQ.NEXTVAL,#{boardkind}, '관리자', #{boardtitle}, #{boardcontent}, #{userseq}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="noticeDto">
		UPDATE NOTICEBOARD
		SET BOARDTITLE = #{boardtitle}, BOARDCONTENT = #{boardcontent}
		WHERE BOARDSEQ = #{boardseq}
	</update>
	
	<delete id="delete" parameterType="noticeDto">
		DELETE FROM NOTICEBOARD
		WHERE BOARDSEQ = #{boardseq}
	</delete>
	
</mapper>
