<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.ptsd.mvc.notice.NoticeDto" alias="noticeDto" />
		<typeAlias type="com.ptsd.mvc.user.UserDto" alias="userDto" />
		<typeAlias type="com.ptsd.mvc.product.ProductDto" alias="productDto" />
		<typeAlias type="com.ptsd.mvc.streaming.StreamingDto" alias="streamingDto"/>
		<typeAlias type="com.ptsd.mvc.wish.WishDto" alias="wishDto" />
		<typeAlias type="com.ptsd.mvc.coupon.MakeCouponDto" alias="makeCouponDto"/>
		<typeAlias type="com.ptsd.mvc.coupon.CouponDto" alias="couponDto"/>
		<typeAlias type="com.ptsd.mvc.like.LikeDto" alias="likeDto"/>
		<typeAlias type="com.ptsd.mvc.review.ReviewDto" alias="reviewDto"/>
		<typeAlias type="com.ptsd.mvc.recommand.RecommandDto" alias="recommandDto"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mybatis/notice-mapper.xml" />
		<mapper resource="/mybatis/user-mapper.xml" />
		<mapper resource="/mybatis/product-mapper.xml"/>
		<mapper resource="/mybatis/streaming-mapper.xml"/>
		<mapper resource="/mybatis/wish-mapper.xml"/>
		<mapper resource="/mybatis/makecoupon-mapper.xml"/>
		<mapper resource="/mybatis/downloadcoupon-mapper.xml"/>
		<mapper resource="/mybatis/like-mapper.xml"/>
		<mapper resource="/mybatis/review-mapper.xml"/>
		<mapper resource="/mybatis/recommand-mapper.xml"/>
	</mappers>

</configuration>