@charset "UTF-8";

.body {
	border: 0 auto;
	margin: 0;
}


.ist {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    grid-auto-rows: 300px;
}


.imgbox {
	
	border: 1px solid black;
	
}